input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding: 1rem;
    margin-top: .75rem;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}