* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple-color: #B259FF;
    --fuschia-color: #FF59F9;
    --pink-color: #FF598B;
    --orange-color: #FF8B59;
    --yellow-color: #FFCD59;
    --lime-color: #E1FF59;
    --green-color: #59FF91;
    --cyan-color: #59FFF9;
    --navy-color: #6A59FF;

    --danger-color: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --text-logo: "Leckerli One", cursive;
    --text-header: "Baloo 2", sans-serif;
    --text-page: "Open Sans", sans-serif;


    --font-logo:  2.5rem var(--text-logo);
    --heading-md: bold 1.75rem var(--text-header);
    --heading-sm: bold 1.125rem var(--text-header);
    
    --body-md: 1rem var(--text-page);
    --body-sm: 0.875rem var(--text-page);
    --body-xs: 0.75rem var(--text-page);

    
    
}

body {
    overflow: hidden;
    background-color: var(--shape-body);
}